<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1 align="center"> ログイン</h1>
    <div align="center">
      <table border="0">
        <form action="/assign_list" method="POST">
          <tr>
            <th>
              ユーザID
            </th>
            <td>
              <input type="text" name="username" value="" size="24">
            </td>
          </tr>
          <tr>
            <th>
              パスワード
            </th>
            <td>
              <input type="password" name="password" value="" size="24">
            </td>
          </tr>
          <tr>
            <th>
              学期
            </th>
            <td>
              <label for="early">前期:</label>
              <input type="radio" id="early" name="semester" value="前期" checked="checked">
              <label for="late">後期:</label>
              <input type="radio" id="late" name="semester" value="後期">
            </td>
          </tr>
          <th colspan="2">
            <input id="login_button" type="submit" value="ログイン" onclick="load()" align="center">
            <p id="message" align="center">通信中です。しばらくお待ちください...</p>
          </th>
        </form>
      </table>
    </div>
    <script type="text/javascript">
      document.getElementById("message").style.display = "none";
      document.getElementById("login_button").onclick = function(){
        document.getElementById("login_button").value = "通信中";
        document.getElementById("message").style.display = "block"
      }
    </script>
  </body>
</html>